.Rproj.user
_targets
.Rhistory
.Rdata
.httr-oauth
.DS_Store
sp_data
data-input/*
!data-input/.here
!data-input/matice/
!data-input/kategorizace/
data-processed/*
!data-processed/.here
/data-input/matice/*.pdf
